/* General body styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  background-color: #000;
  overflow: hidden;
}

/* Containers */
#video-container,
#pdf-container {
  position: absolute; /* Make containers overlap */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the containers */
  width: 1080px; /* Fixed width for 1080px */
  height: 1920px; /* Fixed height for 1920px */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

/* Show video by default */
#video-container {
  opacity: 1;
  visibility: visible;
}

/* Iframe Styling */
iframe {
  width: 100%; /* Full width of container */
  height: 100%; /* Full height of container */
  border: none;
}

/* PDF Container Styling */
#pdf-container {
  padding-top: 200px;
  background-color: #fff; /* White background for PDF */
}

/* Media Query for Mobile Devices */
@media (max-width: 1080px) {
  /* Adjust for smaller screens */
  #video-container,
  #pdf-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
  }
}
