/* General body styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
  }
  
  /* Containers */
  #video-container,
  #pdf-container {
    position: absolute; /* Make containers overlap */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
  }
  
  /* Show video by default */
  #video-container {
    opacity: 1;
    visibility: visible;
  }
  
  /* Iframe Styling */
  iframe {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border: none;
  }