/* General body styling */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1920px; /* Full viewport height */
  width: 1080px; /* Full viewport width */
  background-color: #000;
  overflow: hidden;
}

/* Containers */
#video-container,
#pdf-container {
  position: absolute; /* Make containers overlap */
  top: 0;
  left: 0;
  width: auto; /* Full width */
  height: 100%; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, visibility 1s ease;
}

/* Show video by default */
#video-container {
  opacity: 1;
  visibility: visible;
}

/* Iframe Styling */
iframe {
  width: auto; /* Full width */
  height: 100%; /* Full height */
  border: none;
}

/* PDF Container Styling */
#pdf-container {
  padding-top : 600px;
  background-color: #fff; /* White background for PDF */
}

/* Media Query for Mobile Devices */
@media (orientation: portrait) {
  /* Ensure video and PDF take up full screen in portrait mode */
  iframe {
    width: auto;
    height: 1920px;
  }
}
